.rebar3
_*
.eunit
*.o
*.beam
*.plt
*.swp
*.swo
.erlang.cookie
ebin
log
erl_crash.dump
.rebar
logs
_build
.idea
*.iml
rebar3.crashdump
*~
/_build
/_checkouts
/doc/*
!/doc/_head.html
!/doc/kmm-favicon.svg
!/doc/kmm-logo.svg
!/doc/kmm-social-preview.svg
!/doc/kmm-social-preview.png
!/doc/overview.edoc
!/doc/stylesheet.css
/mix.lock
